<h1>Events#new</h1>
<form class="new-event-form">
  <label>Event Name!
    <input type="text" name="event[title]">
  </label>
  <label>Event Description
    <textarea name="event[description]"></textarea>
  </label>
  <label>Event Start
    <input type="text" class="datepicker" name="event[start_day]">
    <input type="text" class="timepicker" name="event[start_timepick]">
  </label>
  <label>Event end
    <input type="text" class="datepicker" name="event[end_day]">
    <input type="text" class="timepicker" name="event[end_timepick]">
  </label>
  <label>Address
    <label>Street Field 1:
      <input type="text" name="event[street1]">
    </label>
    <label>Street Field 2:
      <input type="text" name="event[street2]">
    </label>
    <label>City:
      <input type="text" name="event[city]">
    </label>
    <label>State:
      <input type="text" name="event[state]">
    </label>
    <label>Zip Code
      <input type="text" name="event[zip_code]">
    </label>

  </label>

  <button>Add a new Event!</button>
</form>
