<li class="stacked-list-item group"><a href="/#/<%=group.escape('slug') %>">
  <img class="profile-pic-img" src="<%= group.escape('avatar_url')%>">
  <strong><%= group.escape('title') %></strong>
</a></li>
