<form class="userEditForm group">
  <label>
    Profile Picture
    <input type="file" name="user[avatar]" id="input-user-avatar">
  </label>

<button class="red-button">Save</button> or <a href="#">Cancel</a>

</form>
