<form>
  <h1 class="errors"></h1>
  <label><h3>Your name (this is public)</h3>
    <input type="text" name="user[username]">
  </label>
  <label><h3>Email address</h3>
    <input type="text" name="user[email]">
  </label>
  <label><h3>Password</h3>
    <input type="password" name="user[password]">
  </label>
  <button>Sign Up</button>

  <footer>
    <a href="/#/session/new"><small>Already a member?</small> Log In</a>
  </footer>
</form>
