<main class="group-member-index-main group-subpage">
  <h1><%= flair %></h1>
  <h2>Organizers</h2>
  <ul class="group-organizer-index">
  </ul>
  <h2>Members</h2>
  <ul class="group-member-index">
  </ul>
</main>
