<section class="user-profile-main">
  <h1> <%= user.get('username') %></h1>
  <h2><strong>Location:</strong><%= user.get('zip_code') %></h2>
  <h2><strong>Rendez-Zoo member since: </strong><%= timeParse.monthYear %></h2>

  <ul class="user-group-memberships">
    <li>Placeholder</li>
  </ul>

  <form>

  <label>
    Image
    <input type="file" name="user[avatar]" id="input-user-avatar">
  </label>

  <button>Save</button> or <a href="#">Cancel</a>

</form>

</section>


<section class="user-profile-sidebar">
  <div class="profile-picture">
    <img src="<%= user.escape("avatar_url") %>">
  </div>


  <div class="user-interests">
    <ul>
      List of Interests.
    </ul>
  </div>
</section>
