  <form class="new-session">
    <a id="google-login" href="/auth/google_oauth2">Log in with Google</a>
    <strong>~ or ~</strong>
    <label>Email
      <input type="text" name="user[email]">
    </label>
    <label>Password
      <input type="password" name="user[password]">
    </label>
    <button class="red-button-large">Log In</button>
    <button class="red-button-large" id="demo-login">Demo Log In</button>
  </form>
