  <form class="new-session">
    <h1>Log In</h1>
    <label>Email
      <input type="text" name="user[email]">
    </label>
    <label>Password
      <input type="password" name="user[password]">
    </label>
    <button class="red-button-large">Log In</button>
  </form>
