.groups-index {
  width: 1000px;
  background: lightgray;
  margin: auto;
}
.groups-list > li {
  float: left;
  margin: 20px;
  background: orange;
}

.groups-list > li > a{
  height: 100px;
  width: 260px;
  padding: 10px;

}


.group-show-main {
  width: 960px;
  margin: auto;
  padding: 20px;
  background: lightblue;
}

#group-banner {
  display: block;
  height: 200px;
  border: 1px solid white;
  border-radius: 3px;
  background: lightyellow;
}

#group-banner .splash {
  height: 150px;
  display: block;
}

.group-banner-nav {
  float: left;
}

.group-banner-buttons {
  float: right;
}

#group-banner li {
  float: left;
  padding: 10px;
}

.group-sidebars {
  float: left;
  display: block;
  width: 300px;
}

#sidebar-top {
  display: block;
  background: pink;
}

.sidebar-top-details {
  padding: 20px;
}

.sidebar-top-events-links {
  padding: 20px;
}

.sidebar-top-organizer {
  padding: 20px;
}

#sidebar-categories {
  padding: 20px;
}

#sidebar-bottom {
  display: block;
  background: lightgreen;
}

#group-banner {
  display: block;
  width: 100%
}

#group-main {
  display: block;
  float: right;
  background: darkgray;
  width: 660px;
}

#group-show-top {
  display: block;
  background: lightgray;
}

.member-thumbs {
  float: left;
}

.group-show-top-nav button {
  float: right;
}

#group-show-bottom {
  display: block;
  background: white;
}
.navigation-header {
  background: white;
}

.nav-bar {
  width: 1000px;
  margin: auto;
  background: white;
}

.navigation-header li {
  float: left;
  height: 60px;
}

.navigation-header a {
  float: left;
  display: block;
  background: white;
  margin-right: 10px;
}

.left-header-nav a:hover {
  background: #F4001B;
}

.left-header-nav a:hover strong {
  color: white;
}

.left-header-nav a:hover small {
  color: white;
}

.navigation-header .left-header-nav {
  float: left;
}

.logo img {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 50px;
  width: 70px;
}

.left-header-nav a {
  padding: 9px;
  height: calc(100% - 18px);
}

.left-header-nav strong {
  font-weight: 700;
  display: block;
  color: #F4001B;
  font-size: 20px;
  font-family: sans-serif;
}

.left-header-nav small {
  color: lightgray;
  font-size: 13px;
  font-family: sans-serif;
}

.navigation-header .right-header-nav {
  float: right;
}
html, body, main, section, h1, h2, h3,
p, li, ul, div, span, strong,
small, a, button, small, strong {
  color: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.group:after{
  content: "";
  clear: both;
  display: block;
}

img, a {
  display: block;
}
.sign-up-in img {
  height: 100%;
  width: 100%;
}

.sign-up-in a {
  float: left;
  height: 32px;
  width: 46px;
  padding: 9px;
}

.sign-up-in h1 {
  float: left;
  font-family: sans-serif;
  font-size: 16px;
  padding: 16px 0px;
}

.new-user {
  height: 100%;
  width: 100%;
  background: lightgray;
  padding: 13px;
}

.new-user form {
  height: 390px;
  width: 320px;
  margin: auto;
  background: white;
  border: 1px solid darkgray;
  padding: 12px;
}

.new-user label {
  display: block;
  padding: 15px 0px;
  border-bottom: 1px solid #eee;
}

.new-user label:hover {
  cursor: pointer;
}

.new-user h3 {
  font-size: 16;
  font-family: sans-serif;
  margin-bottom: 5px;
}

.new-user input {
  font-size: 16px;
  width: calc(100% - 6px);
}

.new-user button {
  margin-top: 15px;
  display: block;
  width: 100%;
  font-weight: bold;
  font-family: sans-serif;
  background: #F4001B;
  color: white;
  padding: 15px;
  border-radius: 5px;
}

.new-user button:hover {
  cursor: pointer;
  background: #E3000A;
}

.new-user footer {
  margin-top: 30px;
  text-align: center;
}

.new-user footer > a{
  color: blue;
}

.new-user footer > a >small{
  color: black
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

