<header id="group-banner" class="group">
  I am the group splash banner.
  Group name: <%= group.title %>

  <ul class="group-banner-nav">
    <li><a href="<%= group_url(group) %>">Home</a></li>
    <li><a href="#">Members</a></li>
    <li><a href="#">Photos</a></li>
  </ul>
  <% if group.organizers.include?(current_user)%>
  <%= render "events/create_button", group: group %>
  <% end %>
</header>
