I'm the groups index page!
<section class="groups-index">
  <ul class="groups-list">
    <% @groups.each do |group| %>
      <li><a href="<%= group_url(group)%>"><%= group.title %></a></li>
    <% end %>
  </ul>
</section>
