<h1>Groups#new</h1>
<form action="<%= groups_url %>" method="POST">
  <%= user_auth_token %>
  <label>Group Name!
    <input type="text" name="group[title]">
  </label>
  <label>Group Description
    <textarea name="group[description]"></textarea>
  </label>
  <label>Group Location (Zip)
    <input type="text" name="group[zip_code]">
  </label>

  <button>Add New Group!</button>
</form>
