<header class="group-banner">
  I am the group splash banner.
  Group name: <%= @group.title %>
  Group description: <%= @group.description %>
</header>

<section class="group-sidebars">
  I am the sidebar container
  <section class="sidebar-top">
    I am the sidebar-top
  </section>
  <section class="sidebar-bottom">
    I am the sidebar-bottom, will need an ID
  </section>
</section>

<main class="group-man">
  I am the main window
  <section class="group-show-top">
    I am the top main show, will need an ID
  </section>
  <section class="group-show-bottom">
    I am the group show bottom
  </section>
</main>
