<main class="group-show-main group">
<%= render "banner", group: @group %>
  <section class="group-sidebars group">
    I am the sidebar container
    <%= render "sidebar_top", group: @group %>
    <%= render "sidebar_bottom", group: @group %>
  </section>

  <%= render "main", group: @group %>
</main>
