I'm the header!
<header class="navigation-header">
  <ul class="left-header-nav">
    <li>I'm the left header nav!</li>
  </ul>

  <ul class="right-header-nav">
    <li><a href="<%= new_user_url %>">Sign Up</a></li>
    <li><a href="<%= new_session_url %>">Sign In</a></li>
  </ul>
</header>
