<section class="event-details-main">
  <h1><%= event.title %></h1>
  <h3><%= event.start_time %> <%= event.try(:end_time) %></h3>
  <div id="event-location">Google Map</div>
  <p><%= event.description %></p>
</section>
