<h2>Your Admin Groups</h2>
<ul class="groups-list group">
  <% groups.forEach(function(group){ %>
    <li><a href="<%="/#/groups/" + group.id%>"><%= group.escape("title") %></a></li>
  <% }); %>
</ul>
