<header id="group-banner" class="group">
  <div class="splash"></div>
  Group name: <%= group.escape("title") %>
  <ul class="group-banner-nav group">
    <li><a href="/#/groups/<%= group.id %>">Home</a></li>
    <li><a href="/#/groups/<%= group.id %>/members">Members</a></li>
    <li><a href="/#/groups/<%= group.id %>/photos">Photos</a></li>
  </ul>
  <ul class="group-banner-buttons">
  </ul>
</header>
