<form class="search-form">
  <label>Find:
    <input type="text" class="query" name="search[query]">
  </label>
  <label>within
    <input type="text" class="distance" value="20"> miles
  </label>
  <label>of
    <input type="text" class="location" value="<%= location %>">
  </label>
</form>
