<form class="search-form">
  <input type="text" class="query" name="search[query]" placeholder="Search for groups">
  <button class="ico ico-mglass"></button>
  <label>within
    <input type="text" class="distance" value="20"> miles
  </label>
  <label>of
    <input type="text" class="location" value="<%= location %>">
  </label>
</form>
