<section id="group-show-bottom">
  <nav class="upcoming-navigation group">
    <button>Upcoming Events</button>
    <button>Past Events</button>
  </nav>
  <section id="bottom-pane">
    <div class="group-subpage">
      <h2>Upcoming Events</h2>
      <ul class="upcoming-events-mini">
      </ul>
    </div>
    <div class="group-subpage">
      <h2>Past Events</h2>
      <ul class="past-events-mini">
      </ul>
  </section>
</section>
