
<section id="group-show-top">
  <p><%= group.escape('description') %></p>
  <nav class="group-show-top-nav">
    <div class="member-thumbs" data-event="all">
      Member thumbnails here in Backbone
    </div>
  </nav>
</section>
