
<section id="group-show-top">
  <p><%= group.get('description') %></p>
  <nav class="group-show-top-nav">
    <h1>Members:</h1>
    <ul class="member-thumbs group" data-event="all">
    </ul>
      <small><a href="/#/<%= group.escape('slug') %>/members">See more</a></small>
  </nav>
</section>
