<section id="group-show-bottom">
  <nav class="upcoming-navigation group">
    <button class="toggle-upcoming">Upcoming Events</button>
    <button class="toggle-past">Past Events</button>
  </nav>
  <section id="bottom-pane">
    <div class="upcoming-events-mini collapsed slide-pane group-subpage">
      <h2><button class="toggle-upcoming">Upcoming Events (<%= group.groupEvents().upcomingEvents().length %>)</button></h2>
      <ul>
      </ul>
    </div>
    <div class=" past-events-mini collapsed slide-pane group-subpage">
      <h2><button class="toggle-past">Past Events (<%= group.groupEvents().pastEvents().length %>)</button></h2>
      <ul>
      </ul>
    </div>
  </section>
</section>
