<section id="group-show-top">
  Group description: group.description
  <nav class="group-show-top-nav">
    <div class="member-thumbs" data-event="all">
      Member thumbnails here in Backbone
    </div>
    <button class="join-leave-button">Join or Leave</button>
  </nav>
</section>
