<section id="group-show-bottom">
  <nav class="upcoming-navigation group">
    <button>Upcoming Events</button>
    <button>Past Events</button>
    <a href="/#/groups/<%= group.id %>/calendar">Calendar</a>
  </nav>
  <section id="bottom-pane">
      <ul class="upcoming-events-mini">
        <h3>Upcoming Events</h3>
      </ul>
      <ul class="past-events-mini">
        <h3>Past Events</h3>
      </ul>
  </section>
</section>
