<section id="sidebar-top">
  <div class="sidebar-top-details">
    <img src="http://placecorgi.com/200/200">
    <a href="#">< group.zip_code Look up city by zip later</a>
    <a href="#"> group.members.count + 1 "members"</a>
  </div>

  <div class="sidebar-top-events-links">
    <a href="#">Upcoming Events</a>
    <a href="#">Past Events</a>
    <a href="#">Calendar Events</a>
  </div>

  <div class="sidebar-top-organizer">
    <a href="#">Owner</a>
  </div>


  <div id="sidebar-categories">
    tags
  </div>
</section>
