<div class="index-banner">
    <section class="banner-content page-body">
      <article class="splash-message">
        <h1>Welcome to Rendez-Zoo!</h1>
        <h2>The place for non-human animals to mingle and cavort.</h2>
        <p> There are <%=groups.length%> groups, herds, schools, flocks, droves,
          gaggles, stampedes, murders, colonies, hives, swarms, shoals,
          broods, flights, litters, pods, and plagues around!</p>
        <h2>Find the right group for you today!</h2>
      </article>
    </section>
  </div>


<section class="page-body" id="group-index-body">

</section>
