<h1>Groups#new</h1>
<form class="create-new-group">
  <label>Group Name!
    <input type="text" name="group[title]" value="<%= group.escape('title') %>">
  </label>
  <label>Group Description
    <textarea name="group[description]"><%= group.escape("description") %></textarea>
  </label>
  <label>Group Location (Zip)
    <input type="text" name="group[zip_code]" value="<%= group.escape('zip_code')%>">
  </label>

  <button>Add New Group!</button>
</form>
