<section class="page-body pad-twenty group">
  <section id="group-banner-header">
  </section>
  <section id="group-sidebars" class="group">

  </section>
  <section id="group-main-content" class="group">
  </section>
</section>
