<div id="content">
  <header class="navigation-header" id="nagivation-header"></header>
  <main id="page-body"></main>
  <%= render "shared/footer" %>
</div>
<script>
  $(function(){
    RendezZoo.initialize();
  })
</script>
