.event-mini-title {
  font-size: 20px;
  display: block;
  color: #409BC7;
  padding: 20px 0px 10px 0px;
  border-bottom: 1px solid #eee;
}

.upcoming-events-mini > h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

.mini-event-list-item {
  position: relative;
  padding-bottom: 20px;
}

.mini-event-main {
  margin-top: 10px;
  float: left;
  width: 480px;
}

.mini-event-main:after{
  content: "";
  width: 1px;
  background: #eee;
  position: absolute;
  top: 54px;
  bottom: 0;
  right: 210px;
}

.mini-event-sidebar {
  float: right;
  width: 200px;
  padding-left: 10px;
}

.mini-event-sidebar h2 {
  font-size: 18px;
}

.mini-event-sidebar strong {
  color: #409BC7;
}

.mini-event-sidebar h3 {
  background: #eee;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
}

.mini-event-sidebar li {
  padding: 5px 0px;
}

.past-events-mini > h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

.past-event-list-item h4 {
  font-size: 14px;
}

.past-event-list-item h2 {
  font-size: 20px;
  color: #409BC7;
  font-weight: 300;
}

.event-details {
  position: relative;
}

.event-details-main {
  float: left;
  width: 498px;
}

.event-details-main:after {
  position: absolute;
  content: "";
  width: 1px;
  background: #ccc;
  top: 0;
  bottom: 0;
  right: 200px;
}

.event-details.group-subpage h1 {
  font-size: 50px;
}

.event-details-main h2 {
  font-size: 25px;
  padding: 20px 0px;
  border-bottom: 1px solid #ddd;
}

.event-details-main p {
  padding-top: 20px;
}

.event-details-sidebar {
  float: right;
  width: 160px;
  padding: 20px 0px 20px 20px;
}

.rsvp-button {
  position: relative;
  color: white;
  background: #E0393E;
  width: 100%;
  padding: 10px 0px;
  border-radius: 3px;
  box-shadow: 0px 2px black;
  margin-bottom: 20px;
  text-align: center;
}

.rsvp-button:hover {
  cursor: pointer;
  background: #CA352B;
}

.rsvp-button:active {
  top: 2px;
  box-shadow: none;
}

.event-details-sidebar h3 {
  padding: 10px 0px;
  font-size: 25px;
  border-bottom: 1px solid #ccc;
}

.event-details-sidebar h3:before{
  position: absolute;
  content: "";
  height: 1px;
  background: #ccc;
  left: 538px;
  right: 0;
  top: 100px
}

.event-form-page {
  background: white;
  padding: 20px;
}

.event-form-page h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

#event-attendee-profiles {
  margin-top: 20px;
}

#event-attendee-profiles li {
  float: none;
  width: 100%;
}

.profile-pic-img {
  float: left;
  max-width: 50px;
  max-height: 50px;
}

#event-attendee-profiles h2 {
  padding: 5px;
  float: left;
}

.mini-event-main p {
  padding: 10px 0px;
}

.slide-pane.collapsed {
  max-height: 28px;
}

.slide-pane {
  overflow-y: hidden;
  height: auto;
  max-height: 800px;
  transition: max-height 0.5s;
}

.slide-pane button {
  color: #409BC7;
}

.slide-pane button:hover {
  color: #E0393E;
}

#bottom-pane {
  position: relative;
}
