.event-mini-title {
  font-family: sans-serif;
  font-size: 20px;
  display: block;
  color: #409BC7;
  padding: 20px 0px 10px 0px;
  border-bottom: 1px solid #eee;
}

.upcoming-events-mini {
  color: #333;
  padding: 10px;
  background: white;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.mini-event-list-item {
  position: relative;
}

.mini-event-main {
  margin-top: 10px;
  font-family: sans-serif;
  float: left;
  width: 490px;
}

.past-events-mini {
  color: #333;
  padding: 10px;
  background: white;
  border: 1px solid #ccc;
}

.mini-event-main:after{
  content: "";
  width: 1px;
  background: #eee;
  position: absolute;
  top: 65px;
  bottom: 0;
  right: 210px;
}

.mini-event-sidebar {
  float: right;
  font-family: sans-serif;
  width: 200px;
  padding-left: 10px;
}

.learn-more {
  font-size: 10px;
}

.mini-event-sidebar small {
  font-size: 14px;
}

.mini-event-sidebar h2 {
  font-size: 18px;
}

.mini-event-sidebar strong {
  color: #409BC7;
}

.mini-event-sidebar h3 {
  background: #eee;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
}

.mini-event-sidebar li {
  padding: 5px 0px;
}

.past-event-list-item {
  font-family: sans-serif;
}

.past-event-list-item h4 {
  font-size: 14px;
}

.past-event-list-item h2 {
  font-size: 20px;
  color: #409BC7;
  font-weight: 300;
}
