.groups-index {
  width: 1000px;
  background: lightgray;
  margin: auto;
}
.groups-list > li {
  float: left;
  margin: 20px;
  background: orange;
}

.groups-list > li > a{
  height: 100px;
  width: 260px;
  padding: 10px;

}


.group-show-main {
  width: 960px;
  margin: auto;
  padding: 20px;
  background: lightblue;
}

#group-banner {
  display: block;
  height: 200px;
  border: 1px solid white;
  border-radius: 3px;
  background: lightyellow;
}

#group-banner .splash {
  height: 150px;
  display: block;
}

.group-banner-nav {
  float: left;
}

.group-banner-buttons {
  float: right;
}

#group-banner li {
  float: left;
  padding: 10px;
}

.group-sidebars {
  float: left;
  display: block;
  width: 300px;
}

#sidebar-top {
  display: block;
  background: pink;
}

.sidebar-top-details {
  padding: 20px;
}

.sidebar-top-events-links {
  padding: 20px;
}

.sidebar-top-organizer {
  padding: 20px;
}

#sidebar-categories {
  padding: 20px;
}

#sidebar-bottom {
  display: block;
  background: lightgreen;
}

#group-banner {
  display: block;
  width: 100%
}

#group-main {
  display: block;
  float: right;
  background: darkgray;
  width: 660px;
}

#group-show-top {
  display: block;
  background: lightgray;
}

.member-thumbs {
  float: left;
}

.group-show-top-nav button {
  float: right;
}

#group-show-bottom {
  display: block;
  background: white;
}
