.groups-index {
  width: 960px;
  background: lightgray;
  margin: auto;
}

.groups-index .banner {
  height: 300px;
  display: block;
}

.groups-list > li {
  float: left;
  margin: 20px;
  background: orange;
}

.groups-list > li > a{
  height: 100px;
  width: 260px;
  padding: 10px;
}

#page-body {
  padding: 18px 0px;
  background: lightgray;
}

.group-show-main {
  width: 960px;
  margin: auto;
}

#group-banner {
  display: block;
  height: 158px;
  border: 1px solid white;
  border-radius: 3px;
  background: #F4001B;
  font-family: sans-serif;
  margin-bottom: 20px;
}

.group-banner-nav-bar {
  background: white;
}

.group-banner-nav {
  float: left;
  padding: 5px;
}

.group-banner-nav .active{
  color: white;
  background: #33241A;
}

.group-banner-nav a {
  padding: 5px 10px;
  border-radius: 5px;
  color: darkgray;
}

.group-banner-nav a:hover {
  color: white;
  background: #F4001B;
}

.group-banner-buttons {
  float: right;
}

#group-banner li {
  float: left;
}

#group-banner h1 > a{
  margin-top: 10px;
  display: block;
  text-align: center;
  vertical-align: bottom;
  float: none;
  color: white;
  font-size: 40px;
  height: 100px;
}

#group-banner h1:after {
  display: block;
  content: "";
  height: 10px;
  background: white;
  opacity: 0.7;
}

.group-sidebars {
  font-family: sans-serif;
  float: left;
  display: block;
  border-radius: 3px;
  width: 200px;
}

.group-sidebars li {
  float: none;
  display: block;
}

#sidebar-top {
  background: white;
  padding: 20px 10px;
  display: block;
  margin-bottom: 10px;
  border: 1px solid white;
}

.sidebar-top-details {
  position: relative;
}

.sidebar-top-details a {
  line-height: 30px;
  padding-top: 10px;
}

.sidebar-top-details img {
  width: 100%;
  height: auto;
  display: block;
}

.sidebar-top-details a:before{
  top: -5px;
  display: block;
  content: "";
  height: 1px;
  background: #ccc;
}


.sidebar-top-events-links {
  font-size: 14px;
  margin-bottom: 10px;
}

.sidebar-top-events-links li {
  padding: 5px;
  border-top: 1px solid #ccc;
}

.sidebar-top-events-links .link-num {
  float: right;
}

.sidebar-top-events-links .link-label {
  float: left;
}

.sidebar-top-organizer {
  margin: 10px;
}

#sidebar-categories {
  padding: 20px;
}

#sidebar-bottom {
  display: block;
  background: white;
  border: 1px solid white;
  padding: 20px 10px;
}

#group-banner {
  display: block;
  width: 100%
}

.group-main {
  display: block;
  float: right;
  width: 740px;
}

#group-show-top {
  border-radius: 3px;
  border: 1px solid #ccc;
  display: block;
  padding: 10px;
  background: white;
  margin-bottom: 20px;
}

.member-thumbs {
  display: block;
}

.group-show-top-nav button {
  float: right;
}

#group-show-bottom {
  display: block;
}

.group-form-main {
  padding: 20px;
  width: 698px;
  margin: auto;
  background: white;
  font-family: sans-serif;
  border: 1px solid #ccc;
}

.group-form input {
  display: block;
}

.group-form textarea {
  display: block;
}

.group-form-title {
  font-size: 40px;
}
