.navigation-header {
  font-family: sans-serif;
  background: white;
}

.nav-bar {
  width: 960px;
  margin: auto;
  background: white;
}

.navigation-header li {
  float: left;
  height: 60px;
}

.navigation-header a {
  float: left;
  display: block;
  margin-right: 10px;
}

.left-header-nav a:hover {
  background: #F4001B;
}

.left-header-nav a:hover strong {
  color: white;
}

.left-header-nav a:hover small {
  color: white;
}

.navigation-header .left-header-nav {
  float: left;
}

.logo img {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 50px;
  width: 70px;
}

.left-header-nav a {
  padding: 9px;
  height: calc(100% - 18px);
}

.left-header-nav strong {
  font-weight: 700;
  display: block;
  color: #F4001B;
  font-size: 20px;
  font-family: sans-serif;
}

.left-header-nav small {
  color: lightgray;
  font-size: 13px;
  font-family: sans-serif;
}

.navigation-header .right-header-nav {
  float: right;
}

.right-header-nav > li > a{
  padding: 9px 18px;
  margin: 11px 5px;
  font-weight: bold;
}

.sign-up-header-button {
  color: white;
  background: #F4001B;
  border-radius: 3px;
}

.sign-up-header-button:hover{
  background: #CA352B;
}

.log-in-header-button {
  color: gray;
}

.log-in-header-button:hover{
  color: #409BC7;
}
