.new-user {
  height: 100%;
  width: 100%;
  background: lightgray;
  padding: 13px;
}

.new-user form {
  width: 320px;
  margin: auto;
  background: white;
  border: 1px solid darkgray;
  padding: 12px;
}

.new-user label {
  display: block;
  padding: 15px 0px;
  border-bottom: 1px solid #eee;
}

.new-user label:hover {
  cursor: pointer;
}

.new-user h3 {
  margin-bottom: 5px;
}

.new-user input {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px 0px;
  width: calc(100% - 10px);
}

.red-button-large {
  margin-top: 15px;
  display: block;
  font-weight: bold;
  background: #E0393E;
  color: white;
  padding: 15px 0px;
  border-radius: 5px;
  text-align: center;
  width: 100%;
}

.red-button-large:hover {
  cursor: pointer;
  background: #E3000A;
}

.new-user footer {
  margin-top: 30px;
  text-align: center;
}

.new-user footer > a{
  color: blue;
}

.new-user footer > a >small{
  display: inline;
  width: inherit;
  color: black
}

.new-session h1 {
  font-size: 20px;
}

#google-login {
  display: block;
  position: relative;
  background: linear-gradient(180deg, #4184f3, #1165f0);
  color: white;
  width: calc(100% - 78px);
  padding: 15px 15px 15px 63px;
  text-align: center;
  margin: 10px 0px;
  border-radius: 5px;
}

#google-login:hover {
  background: linear-gradient(180deg, #4e8df4, #4184f3);
}

#google-login:before{
  content: "";
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  background-image: url(http://i.imgur.com/HeRUpcF.png);
  background-size: contain;
  border-right: 1px solid #ccc;
}

.new-session > strong {
  display: block;
  width: 100%;
  text-align: center;
}
