.entire-user-profile {
  max-width: 920px;
  margin: auto;
}

.entire-user-profile h2 {
  font-size: 24px;
}

.entire-user-profile h1 {
  padding-bottom: 20px;
  font-size: 30px;
}

.entire-user-profile h1:after{
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  background: #ccc;
  top: 55px;
  left: 0;
  right: 0;
}

.entire-user-profile h3 > strong {
  font-weight: bold;
}

.entire-user-profile h3 {
  margin-top: 20px;
}


.user-profile-main {
  position: relative;
  width: calc(100% - 270px);
  float: left;
}


.user-profile-sidebar {
  float: right;
}

.profile-picture img{
  width: 240px;
}


.current-user-profile {
  background: #eee;
}

.profile-picture {
  width: 240px;
}

.img-wrapper {
  overflow-x: hidden;
}

.group-member-index img {
  max-width: 50px;
  max-height: 50px;
}

.stacked-list-item {
  margin-bottom: 5px;
}

.stacked-list-item img {
  float: left;
  max-height: 50px;
  width: auto;
  margin-right: 20px;
}

.stacked-list-item .user-name-join {
  float: left;
}
