.new-user {
  height: 100%;
  width: 100%;
  background: lightgray;
  padding: 13px;
}

.new-user form {
  height: 390px;
  width: 320px;
  margin: auto;
  background: white;
  border: 1px solid darkgray;
  padding: 12px;
}

.new-user label {
  display: block;
  padding: 15px 0px;
  border-bottom: 1px solid #eee;
}

.new-user label:hover {
  cursor: pointer;
}

.new-user h3 {
  margin-bottom: 5px;
}

.new-user input {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px 0px;
  width: calc(100% - 10px);
}

.new-user button {
  margin-top: 15px;
  display: block;
  font-weight: bold;
  background: #F4001B;
  color: white;
  padding: 15px 0px;
  border-radius: 5px;
  text-align: center;
  width: 100%;
}

.new-user button:hover {
  cursor: pointer;
  background: #E3000A;
}

.new-user footer {
  margin-top: 30px;
  text-align: center;
}

.new-user footer > a{
  color: blue;
}

.new-user footer > a >small{
  color: black
}

.new-session h1 {
  font-size: 20px;
}
