.user-profile {
  border: 1px solid #ccc;
  max-width: 920px;
  margin: auto;
  padding: 20px;
  background: white;
}

.user-profile h2 {
  font-size: 24px;
}

.user-profile h1 {
  padding-bottom: 20px;
  font-size: 30px;
}

.user-profile h1:after{
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  background: #ccc;
  top: 55px;
  left: 0;
  right: 0;
}

.user-profile h3 > strong {
  font-weight: bold;
}

.user-profile h3 {
  margin-top: 20px;
}


.user-profile-main {
  position: relative;
  width: calc(100% - 270px);
  float: left;
}


.user-profile-sidebar {
  float: right;
}

.profile-picture {
  width: 240px;
}
