<div class="right-header-nav group">
  <div class="profile-menu">
    <h3>Menu</h3>
    <ul class="profile-menu-items">
      <li><a href="/#/profile">Profile</a></li>
      <li><button class="log-out">Log Out</button></li>
    </ul>
  </div>
</div>
