<div class="right-header-nav group">
  <ul class="profile-menu">
    <h3>Profile Menu</h3>
    <li><a href="/#/users/<%= currentUser.id %>/edit">Edit Profile</a></li>
    <li><button class="log-out">Log Out</button></li>
  </ul>
</div>
