<a href="#" class="logo"><img src="/images/rendez-zoo-logo.jpeg" alt="Rendez zoo logo"></a>
<ul class="left-header-nav group">
  <li><a href="#"><strong>Find</strong><small>a Rendez-Zoo Group</small></a></li>
  <li><a href="/#/groups/new"><strong>Start</strong><small> a Rendez-Zoo group</small></a></li>
</ul>
